/* code for home start*/
.carousel-img {
    width: 100%;
    height: 300px; /* Default height on large screens */
    object-fit: cover; /* Ensures images are cropped properly */
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); } /* Tilt left */
    50% { transform: rotate(5deg); }  /* Tilt right */
    75% { transform: rotate(-5deg); } /* Tilt left */
    100% { transform: rotate(0deg); } /* Back to normal */
}  
.title-paragraph{
    width: 250px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    color: black;
    transform: rotate(355deg);
    background-color: #7cf786;
} 
.title-paragraph:hover {
animation: shake 0.4s ease-in-out;
}
.title-paragraph-bg{
    width: 250px;
    margin: auto;
    padding-top: 5px;
    border-radius: 10px;
    color: white;
    /* transform: rotate(355deg); */
    background-color: #5b5a5a;
}

.popular-category .arrowBtn{
    background-color: #eceaea;
     height: 40px;
}
.popular-category .category :hover .arrowBtn{
    background-color: #fab7b7;
}
.popular-category .category:hover .arrowBtn img{
    transform: rotate(90deg);
}
.popular-category .arrowBtn img{
    height: 25px;
    /* background-color: #f77c7c; */
    transform: rotate(50deg);
}
/* code for home end*/

/* code for about start*/
.management-team{
    background: linear-gradient(to  right, #f7f5f5, #f77c7c);
}
.slider-ivestor {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
}
.slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
    width: calc(180px * 8); 
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* code for about end*/

/* code for tutor start*/
.asset-filter-our-tutor{
    background-image: url(../assets/images/asset-filter-our-tutor.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

/* code for tutor end*/


/* responsive code  */

@media (max-width: 992px) {
    .carousel-img {
        height: 250px;
    }
}

@media (max-width: 768px) {
    .carousel-img {
        height: 200px;
    }
}

@media (max-width: 576px) {
    .carousel-img {
        height: 150px;
    }
}